@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

:root{
    --primary-color:#664343;
    --dark-color: #3B3030;
    --border:.1rem solid rgba(0,0,0,.1);
    --border-hover:.1rem solid var(--black);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('../image/bookstore.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    height: 100vh;
    color: #333;
    line-height: 1.6;
  }
  
.confirmation-container {
    max-width: 600px;
    margin: 100px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin: 10px 0;
}

.btn {
    background-color: var(--dark-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--dark-color);
}
